{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Admin Panel
{% endblock %}

{% block css %}

<style>
    .profile-image, .document-image {
        max-height: 400px;
        max-width: 90%;
        object-fit: contain;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .inline-block {
        display: inline-block;
    }
</style>

{% endblock %}


{% block navbar %}
{% include 'admins/navbar.html' %}
{% endblock %}

{% block body %}

<div class="container-fluid my-5">
    <h2 class="text-center my-5">User Details</h2>
    <div class="h-screen flex-grow-1">
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 border-bottom">
                                                <span class="h3 font-semibold d-block mb-2">Personal Details</span>
                                            </div>
                                            
 

                                                <div class="col-sm-12 mt-5 text-center">
                                                    {% if user_obj.is_blocked %}

                                                    <form class="inline-block" method="POST" action="{% url 'action-for-customer' pk=user_obj.id %}">
                                                        {% csrf_token %}
                                                        <input hidden name="user_action" value="unblock">
                                                        <button class="btn btn-outline-success">
                                                            Unblock User
                                                        </button>
                                                    </form>

                                                    {% else %}
                                                    <form class="inline-block" method="POST" action="{% url 'action-for-customer' pk=user_obj.id %}">
                                                        {% csrf_token %}
                                                        <input hidden name="user_action" value="block">
                                                        <button class="btn btn-outline-danger">
                                                            Block User
                                                        </button>
                                                    </form>

                                                    {% endif %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


{% endblock %}


{% block js %}
{% endblock %}



